*{
    font-size : 24px;
}
QGroupBox
{
    /*margin : 0px 0px 0px 0px;*/
    /*margin-top : 0px;*/
    padding-top : 20px;
}
/*QGridLayout{
    margin-top : 0px;
}*/

/*alternate*/
QWidget QAbstractItemView::item:alternate
{
    background: #FFB934;
}
