* {
    font-size : 24px;
}

/*size control*/
#groupBox 
{
    margin : 0px 0px 0px 0px;
    padding-top : 50px;
    min-width : 800px;
    max-width : 800px;
}

*[BIT_0_DEBOUNCED_ON="true"] #labelDebounceOn {
    background-color : green;
}

*[BIT_1_DEBOUNCED_OFF="true"] #labelDebounceOff {
    background-color : green;
}

*[BIT_2_RAW="true"] #labelRaw {
    background-color : green;
}

